.pss-bar {
  width: 200px;
  background-color: #123;
  border-radius: 5rem;
  position: relative;
  background-clip: padding-box;
  
  --pss-fill: 50%;
  --pss-color: #def;
  background-image: linear-gradient(
    to right,
    var(--pss-color) var(--pss-fill), 
    transparent var(--pss-fill)
  );
}

.pss-bar:after {
  color: #def;
  content: attr(data-pss);
  display: inline-block;
  position: absolute;
  top: 0;
  left: calc(100% + 0.8rem);
  
  height: 100%;
  display: flex;
  align-items: center;
}

.pss-rad {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #123;

  --pss-fill: 65%;
  --pss-color: #def;
  background-image: conic-gradient(
    transparent calc(100% - var(--pss-fill)),
    var(--pss-color) 0
  );
}