.pss-bar {
  position: relative;
  width: 10em;
  height: 1.25em;
  padding-left: .5em;
  border-radius: 10em;
  font-size: 1em;
  color: #def;

  --pss-value: 50;
  --pss-color: #123;
  background-color: #def;
  background-origin: border-box;
  background-image: linear-gradient(
    90deg,
    var(--pss-color) calc(100% / (100 / var(--pss-value))),
    transparent 0%
  );
}

.pss-bar::before {
  content: attr(data-pss-i);
  display: flex;
  position: absolute;
  height: 100%;
  top: 0;
  left: calc((100% * (min(var(--pss-value), 100) / 100) / 2));
  align-items: center;
  transform: translateX(-50%);
}

.pss-bar::after {
  content: attr(data-pss-o);
  display: flex;
  position: absolute;
  height: 100%;
  padding-left: .5em;
  color: #def;
  top: 0;
  left: 100%;
  align-items: center;
}

.pss-rad {
  display: flex;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  --pss-value: 65;
  --pss-color: #123;
  --pss-center: transparent;
  background-color: #def;
  background-origin: border-box;
  background-image:
    radial-gradient(
      circle,
      var(--pss-center) calc(72% - 0.8em),
      transparent 0),
    conic-gradient(
      transparent calc(100% - 100% / (100 / var(--pss-value))),
      var(--pss-color) 0
    );
  mask: radial-gradient(
    circle,
    var(--pss-center) calc(72% - 0.8em),
    #000 0
  );
}

.pss-rad[data-pss-i], .pss-rad[data-pss-o] {
  mask: unset;
  position: relative;
}