.pss-bar {
  width: 200px;
  border-radius: 10rem;
  position: relative;
  
  --pss-fill: 50%;
  --pss-color: #123;
  background-color: #def;
  background-origin: border-box;
  background-image: linear-gradient(
    to right,
    var(--pss-color) var(--pss-fill), 
    transparent var(--pss-fill)
  );
}

.pss-bar:after {
  color: #def;
  content: attr(data-pss);
  display: inline-block;
  position: absolute;
  top: 0;
  left: calc(100% + 0.8rem);
  
  height: 100%;
  display: flex;
  align-items: center;
}

.pss-rad {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  
  --pss-fill: 65%;
  --pss-color: #123;
  --pss-center: transparent;
  background-color: #def;
  background-origin: border-box;
  background-image:
    radial-gradient(circle, var(--pss-center) calc(72% - 0.8rem), transparent 0),
    conic-gradient(
    transparent calc(100% - var(--pss-fill)),
    var(--pss-color) 0
  );
  mask: radial-gradient(circle, var(--pss-center) calc(72% - 0.8rem), #000 0);
}