body {
  box-sizing: border-box;
  padding: 100px;
  margin: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
  background-color: #456;
  color: #def;

  font-size: 20px;
}